{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load i18n %}
{% load static %}

{% block form %}
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Assignment</h5>
      </div>
      <div class="row mb-2">
        <div class="offset-sm-3">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="device_tab" data-bs-toggle="tab" aria-controls="device" data-bs-target="#device" class="nav-link {% if not form.initial.circuit %}active{% endif %}">
                Device
              </button>
            </li>
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="circuit_tab" data-bs-toggle="tab" aria-controls="circuit" data-bs-target="#circuit" class="nav-link {% if form.initial.circuit %}active{% endif %}">
                Circuit
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane {% if not form.initial.circuit %}active{% endif %}" id="device" role="tabpanel">
          {% render_field form.device %}
        </div>
        <div class="tab-pane {% if form.initial.circuit %}active{% endif %}" id="circuit" role="tabpanel">
          {% render_field form.circuit %}
        </div>
      </div>
    </div>

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Critical Endpoints (CEP)</h5>
      </div>
      {% render_field form.crit_ep_impacted label="Impacts Critical Endpoints (EP)" %}
      
      <div class="row mb-2">
        <h5 class="offset-sm-3">Impact Analysis</h5>
      </div>
      {% render_field form.impact_rating label="Impact Rating" %}
      {% render_field form.bus_impact_assess label="Business Impact Assessment" %}
      {% render_field form.tech_impact_assess label="Technical Impact Assessment" %}
      {% render_field form.last_review_date label="Last Review Date" %}
    </div>
    <div class="field-group my-5">
      {% render_field form.tags %}
      {% render_field form.comments %}
    </div>
    {% if form.custom_fields %}
    <div class="field-group my-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">Custom Fields</h5>
        </div>
        {% render_custom_fields form %}
    </div>
    {% endif %}
{% endblock %}